/* Carousel Section Styles */
#carousel-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #carousel-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 8s ease;
  }
  
  #carousel-section img.carousel-image {
    animation: zoomInOut 16s infinite;
  }
  
  @keyframes zoomInOut {
    0%, 100% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
  }
  
  #carousel-content {
    position: absolute;
    z-index: 5; /* Increased to ensure visibility */
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  #carousel-content h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #carousel-content .btn-enroll {
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 50px;
    background: var(--highlight-color);
    color: #000;
    transition: transform 0.3s, background-color 0.3s;
    border: none;
  }
  
  #carousel-content .btn-enroll:hover {
    transform: scale(1.1);
    background-color: #e0a800;
  }
  